* {
    margin: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;
    background-color: lightskyblue;
}

header {
    text-align: center;
    padding: 16px 0;
    text-transform: uppercase;
    font-style: italic;
}

body {
    padding-top: 100px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    text-align: center;
}

form input {
    background-color: white;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

button{
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

ul {
    max-width: 25%;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 24px;
    cursor: pointer;
}

.check {
    text-decoration: line-through;
}